/*******************头部****************/
.teacher_header{
	height: 40px;
	width:100%;
}

.verticalline li:after {
   content: '';
   position: absolute;
   width: 1px;
   height: 14px;
   background-color: #a4a4a4;
   top:18px;
   right: 0;
  }
/*******************头部****************/


/*******************内容****************/
.teacher_content{
	margin-top: 12px;
	min-height: 564px;
	margin-bottom: -5px;
	background-color: #E0E0E0;
}
/*******************内容****************/


/*******************底部****************/
.teacher_footer{
	line-height: 40px;
	height: 40px;
	width:100%;
	background-color: #080808;
}
/*******************底部****************/